<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.adipascu.screenon">

    <application>
        <provider
            android:name=".ScreenOnProvider"
            android:authorities="${applicationId}.screen-on"
            android:exported="false" />
    </application>

</manifest>
